
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Begin Main Content Area -->
        <main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/2-1-1920x523.jpg"  >
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">About Us</h2>
                                <ul>
                                    <li>
                                        <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                                    </li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="parallax-img-wrap">
                                <div class="papaya">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="~/images/pages/image 48.png" alt="Banner Images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 align-self-center">
                            <div class="about-banner-content">
                                <div class="section-title">
                            <span class="sub-title">CHÀO MỪNG ĐẾN VỚI PETLAND</span>
                            <h2 class="title font-size-60 mb-6">BEST PET SHOP</h2>
                            <p class="short-desc mb-0">
                                Petland là shop thú cưng Đồ dùng cho chó – Đồ dùng cho mèo tại TP.HCM chuyên cung cấp đồ dùng, quần áo, thức ăn, sữa tắm, chuồng, vòng cổ xích và các phụ kiện dành cho Chó cảnh, Mèo cảnh.
                                Địa chỉ nhận tắm spa, chăm sóc, cắt tỉa lông và trông giữ thú cưng chuyên nghiệp. Với chất lượng dịch vụ tốt nhất luôn được khách hàng tin tưởng sẽ là điểm đến lý tưởng và tuyệt vời dành cho vật nuôi.
                            </p>
                                    <div class="button-wrap pt-8">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua Ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                <div class="col-lg-4 col-md-6 " >
                            <div class="intro-item text-white" data-bg-color="#aec581">
                                <div class="intro-icon mb-4">
                                    <img src="/images/pages/Frame 12021.png" alt="Intro Icon" style="max-height:fit-content">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">PetlandShop là gì?</h3>
                                    <p class="short-desc mb-0">chào mừng bạn đến với PetlandShop! Đáp ứng mọi nhu cầu cho thú cưng của bạn</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                            <div class="intro-item text-white" data-bg-color="#b9cbe7">
                                <div class="intro-icon mb-5">
                            <img src="/images/pages/Frame 12022.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Sản phẩm đa dạng</h3>
                                    <p class="short-desc mb-0">Chúng tôi có sự đa dạng sản phẩm chất lượng cao dành cho thú cưng của bạn</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                            <div class="intro-item text-white" data-bg-color="#b8a780">
                                <div class="intro-icon mb-5">
                            <img src="/images/pages/Frame 12023.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Chính sách</h3>
                                    <p class="short-desc mb-0">Bạn hãy an tâm mua sắm,chúng tôi sẵn sàng đổi trả khi có vấn đề xảy ra với bạn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-banner about-banner-height" data-bg-image="~/assets/images/about/banner/2-1-1920x500.jpg">
                <div class="popup-btn">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/lamojolNvNQ?autoplay=1" frameborder="0" allowfullscreen></iframe>

            @*<a class="popup-youtube wave-btn" href="https://www.youtube.com/watch?v=lamojolNvNQ?autoplay=1">
                <span></span>
                <span></span>
                <span></span>
                <div class="icon">
                    <i class="fa fa-play"></i>
                </div>
            </a>*@

                </div>
            </div>
            @*<div class="team-member section-space-top-100">
                <div class="container">
                    <div class="section-title text-center pb-55">
                        <span class="sub-title text-primary">Hand Work</span>
                        <h2 class="title mb-0">Our Expart Team</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="swiper-container team-member-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-1-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-2-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-3-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </main>
        <!-- Main Content Area End Here -->

        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Giao hàng miễn phí</h5>
                                <p class="short-desc mb-0">Với đơn hàng từ 500k</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Hỗ trợ 24/7</h5>
                                <p class="short-desc mb-0">Hotline: 0963102916</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Giờ làm việc</h5>
                                <p class="short-desc mb-0">Từ 6h00 - 19h30 hàng ngày</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Area End Here -->

